body {
  margin: 0;
  text-align: center;
  background-color: linear-gradient(rgb(124, 124, 131), pink);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
