.Background{
    height: 100vh;
    width: 100vw;
    background-color:grey;
}
.form{
    height: 70vh;
    width: 40vw;
    background-color: #ffffff;
    float: left;
    margin: 15vh 30vw;
}
.form1{
    height: 80%;
    width: 80%;
    float: left;
    margin: 5% 10%;
}
#login{
    font-size: 20px;
    height: 50px;
    width: 160px; 
    background-color: #000000;
    color: #ffffff;
    border-radius:  30px;
    margin-top: 80px;

}
.accountLogin{
    font-size: 30px;
    margin-bottom: 40px;
}
.word{
    font-size: 13px;
    
}
.input{
    height: 50px;
    width: 100%; 
    margin-top: 15px;
}
.Forgot{
    font-size: 8px;
    float: right;
    margin-top: 0;
}