.container{
    left:50px;
    display: flex;
    justify-content: space-between;
    width: 700px;
    height:300px;
    background-color: yellow;
    margin:0;
    padding: 0;
}
li{list-style:none;}
ul{list-style:none ;}
.item{
    margin:0;
    padding: 0;
    display: inline-block;
    top: 100px;
    position: relative;
    
    background-color: purple;
    height:100px;
    width:100px;
}