

.bar{
    width: 900px;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.container{
    width:900px;
    height:600px;
    border-style: solid;
    border-width: 0px 3px 3px 3px;
    position: relative;
    display: flex;
    
}

.footer{
    background-color: grey;
    position: absolute;
    margin-top: 560px;
    margin-left: 50px;
    
    width: 810px;
    height: 30px;

}
.header{
    background-color: rgb(126, 47, 126);
    width:900px;
    height: 60px;
    position: absolute;


}
.links:first-child{
    width: 100px;
    height: 40px;
    background-color: aqua;
    margin-left: 40px;

}
.links{
    display: inline-block;
    width: 80px;
    height: 40px;
    background-color: aqua;
    margin:10px 10px; 
}

.bottom{
    margin-top:70px;
    margin-left: 50px;
    width: 800px;
    height: 550px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 270px 270px;
    grid-gap: 5px 5px;

    
}
.content1{
    background-color: yellow;
    height: 200px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px;
}
.content2{
    background-color: yellow;
    grid-column-start: 3;
    grid-column-end: 5;
    height: 200px;
    margin: 10px;
}
.content3{
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 200px;
    margin: 10px;
}
.content4{
    background-color: yellow;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 200px;
    text-align: center;
    width: 100%;
}
.content5{
    background-color: yellow;
    grid-column-start: 4;
    height: 200px;
    text-align: center;
    

}

.box{
    background-color: red;
    height: 170px;
    width: 130px;
    margin: 0 auto;
    margin-top:15px;

}

