.background{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top right,#f87882 , #c9945d);
}
.form{
    width: 50vw;
    background-color: #ffffff;
    float: left;
    margin: 15vh 25vw;
    border-radius: 10vw;
    box-shadow: darkgrey 10px 10px 30px 3px ;
}
.form1{
    height: 80%;
    width: 70%;
    float: left;
    margin: 10% 15%;
}
#sign{
    font-size: 20px;
    height: 50px;
    width: 160px; 
    background: linear-gradient(to left, rgb(65, 134, 65), rgb(35, 193, 233));
    color: #ffffff;
    border-radius:  30px;
    margin-top: 80px;
    margin-left: 150px;

}
.accountLogin{
    font-size: 35px;
    margin-bottom: 50px;
}
.type{
    font-size: 15px;
    
    
}
.input{
    height: 30px;
    width: 100%; 
    margin-top: 10px;
    border-radius: 25px;
    background: linear-gradient(to right, rgb(197, 196, 196), white);
}
.forgot{
    float: right;
    margin-top: 0;
}