
.container  {

    display: flex;

    justify-content: flex-start;
    width: 1200px;
    height: 800px;

    
}

.item{
    float: left;
    width: 400px;
    height: 50%;

}
.green{

    background-color: greenyellow;
}

.yellow{

    background-color: yellow;
    
}

.purple{

    background-color:purple;
}