.left{
    width: 200px;
    height: 200px;
    margin:10px;
    border:solid 2px;
    float: left;
}

.middle{
    width: 200px;
    height: 200px;
    margin:10px;
    border:solid 2px;
    float: left;
}

.right{
    width: 200px;
    height: 200px;
    margin:10px;
    border:solid 2px;
    float: left;
}

button{
    width:200px;
    height: 50px;
}

li{
    list-style-type: none;
    width:200px;
    height: 50px;
    text-align: center;
}

